<select name="{{tagName}}" class="select_box required form_control">
    <option value="{{null}}">-선택-</option>
    {{#each list}}
        <option value="{{code}}">{{name}}</option>
    {{/each}}
</select>
