$main_color: #330e81;
$sub_dark_color: #1c0455;
$sub_bright_color: #694cff;

$bg_color: #f3f5ff;
$border_color: #ced4ee;

$hover_color: #f2f5ff;
$focus_color: #a7b1d4;

$valid_color: #0c9;
$error_color: #ff7b7b;