{{#with item}}
    <form id="edit-form">
        <div class="card_body">
            <section class="form_list form_list_3">
                <h4>Title</h4>
                <div class="input_wrap">
                    <input type="text" class="required form_control" name="name" value="{{name}}">
                </div>
            </section>
            <section class="form_list form_list_2">
                <h4>Product</h4>
                <div class="input_wrap">
                    <div class="select_custom">
                        {{> selectPartial tagId=@root.productList.tagId tagName=@root.productList.tagName list=@root.productList.list value=product.id}}
                    </div>
                </div>
            </section>
            <section class="form_list form_list_2">
                <h4>ExecuteType</h4>
                <div class="input_wrap">
                    <div class="select_custom">
                        {{> selectPartial tagId=@root.executeType.tagId tagName=@root.executeType.tagName list=@root.executeType.list value=executeType}}
                    </div>
                </div>
            </section>
            <section class="form_list form_list_2">
                <h4>EXPRESSION</h4>
                <div class="input_wrap">
                    <input type="text" class="required form_control" name="expression" value="{{expression}}"/>
                </div>
            </section>
            <section class="form_list form_list_2">
                <h4>Enabled</h4>
                <div class="input_wrap">
                    <label class="cstm-switch">
                        <input type="checkbox" name="enabled"
                            {{#if enabled}}
                               checked
                            {{/if}}
                               class="cstm-switch-input scheduler-enabled">
                        <span class="cstm-switch-indicator bg-success"></span>
                    </label>
                </div>
            </section>
        </div>

        <div class="btn_wrap btn_form_box">
            <a href="/product-scheduler/list" class="btn_design btn_cancel">취소</a>
            <a class="btn_design btn-edit">수정</a>
        </div>
    </form>
{{/with}}